<div class="menu-title mb-4">
    <h2 class="mb-0">Burger Menu</h2>
    <i class="fas fa-plus-circle ml-3" data-toggle="modal" data-target="#burger-modal" onclick="void(0)"></i>
</div>
<div class="row">
    {{#each menu}}
    <div class="col-12">
        <div class="burger-item mb-4">
            <div class="row mb-1">
                <div class="col-7">
                    <h6 class="mb-0"><span class="burger-name">{{burger_name}}</span> @ $<span class="burger-price">{{burger_price}}</span></h6>
                </div>
                <div class="col-5 pl-0">
                    <button class="add-item" data-burger="{{burger_name}}" data-price="{{burger_price}}">+ Add To Cart</button>
                </div>
            </div>
            <p>{{burger_description}}</p>
        </div>
    </div>
    {{/each}}
</div>