<div class="container">
    <div class="burger-section">
        <div class="row">
            <div class="col-md-7">
                <div class="menu-title">
                    <h2>Burger Menu</h2>
                </div>
                <div class="row">
                    {{#each menu}}
                    <div class="col-12">
                        <div class="burger-item">
                            <div class="row">
                                <div class="col-7">
                                    <h6><span class="burger-name">{{burger_name}}</span> @ $<span class="burger-price">{{burger_price}}</span></h6>
                                </div>
                                <div class="col-5">
                                    <input type="checkbox" name="burger-item" id="burger-{{id}}">
                                    <label for="burger-{{id}}" data-burger="{{burger_name}}" data-price="{{burger_price}}" class="add-item">
                                        <p>+ Add To Cart</p>
                                    </label>
                                </div>
                            </div>
                            <p>{{burger_description}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-md-5">
                <div class="accordion cart" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h6 class="mb-0 pb-0">Order Summary</h6>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="ordered">
                                    <div class="row">
                                        {{#each burgers}}
                                            {{#unless devoured}}
                                            <div class="col-9">
                                                <p class="burger-checkout" data-id="{{id}}" data-devoured="{{devoured}}">{{burger_name}}</p>
                                            </div>
                                            <div class="col-3">
                                                <p class="price-checkout">${{burger_price}}</p>
                                            </div>
                                            {{/unless}}
                                        {{/each}}
                                    </div>
                                </div>
                                <button class="checkout">Checkout</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h6 class="mb-0 pb-0">Purchase History</h6>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="ordered">
                                    <div class="row">
                                        {{#each burgers}}
                                            {{#if devoured}}
                                            <div class="col-9">
                                                <p>{{burger_name}}</p>
                                            </div>
                                            <div class="col-3">
                                                <p>${{burger_price}}</p>
                                            </div>
                                            {{/if}}
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>