<div class="container">
    <div class="burger-section">
        <div class="row">
            <div class="col-md-7">
                <div class="menu-title">
                    <h2>Burger Menu</h2>
                </div>
                <div class="row">
                    {{#each menu}}
                    <div class="col-12">
                        <div class="burger-item">
                            <div class="row">
                                <div class="col-7">
                                    <h6><span class="burger-name">{{burger_name}}</span> @ $<span class="burger-price">{{burger_price}}</span></h6>
                                </div>
                                <div class="col-5">
                                    <input type="checkbox" name="burger-item" id="burger-{{id}}">
                                    <label for="burger-{{id}}" data-burger="{{burger_name}}" data-price="{{burger_price}}" class="add-item">
                                        <p>+ Add To Cart</p>
                                    </label>
                                </div>
                            </div>
                            <p>{{burger_description}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-md-5">
                <div class="cart">
                    <h6>Order Summary</h6>
                    <div class="ordered">
                        <div class="row">
                            {{#each burgers}}
                            <div class="col-9">
                                <p>{{burger_name}}</p>
                            </div>
                            <div class="col-3">
                                <p>{{burger_price}}</p>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <p style="text-transform:uppercase;">Total</p>
                        </div>
                        <div class="col-3">
                            <p>300</p>
                        </div>
                    </div>
                    <button class="checkout">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //insert into mysql
    $("label").on("click", function() {
        var newBurger = {
            name: $(this).data("burger"),
            price: $(this).data("price")
        }
        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
        }).then(function() {
            location.reload();
        })
    })
</script>